<template>
    <div class="col-span-3 sm:col-span-2 w-full ">
        <!--        list start-->
        <div id="content" ref="content" class=" bg-red-200 relative flex flex-wrap  gap-2">

            <div v-for="item of $store.state.posts"
                 :class="[isMyPost(item)?'bg-lime-200' : 'bg-rose-100']"
                 class="w-full md:w-3/4 md:mx-auto  min-h-fit  box-border border border-1 border-red-200 rounded  shadow-lg flex flex-row flex-wrap ">
                <img class="w-full self-start ml-auto rounded-t" :src="item.image" alt="">
                <div class="w-auto self-emdstart whitespace-pre-wrap px-3">
                    <h1 class="inline">
                        <svg class="w-6 h-6 inline" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>
                        {{ item.user.name }}
                    </h1>
                    <h1> {{ item.title }}</h1>
                    <p class="font-thin"> {{ item.description }}</p>
                </div>
            </div>


        </div>
        <!--        list end-->

        <!--        form start-->
        <div
            class="w-full bg-gray-100 h-fit  box-border border border-1 border-red-200 rounded-b p-2 shadow-lg sticky bottom-0 self-end ">
            <div class="flex justify-center gap-2 flex-wrap">


                <div class=" md:w-1/6 ">
                    <label for="exampleText0" class="form-label inline-block mb-2 text-gray-700">Title</label>
                    <textarea
                        class=" form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                        id="exampleFormControlTextarea1"

                        placeholder="Title" v-model="form.title"></textarea>
                </div>
                <div class=" md:w-4/6 ">
                    <label for="exampleFormControlTextarea1" class="form-label inline-block mb-2 text-gray-700">Description</label>
                    <textarea
                        class=" form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                        id="exampleFormControlTextarea1"

                        placeholder="Your post" v-model="form.description"></textarea>
                </div>
                <div class="w-full flex place-content-around ">
                    <div class="overflow-hidden relative w-fit h-fit ">
                        <input class="cursor-pointer absolute block opacity-0 pin-r pin-t" type="file"
                               @change="setImage($event)">
                        <button
                            class="p-2 text-white font-bold  w-full inline-flex items-center cursor-pointer rounded-lg text-center text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-sm shadow-green-500">
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                            </svg>
                            <span class="ml-2">Image</span>
                        </button>
                    </div>
                    <div class="overflow-hidden relative w-fit h-fit ">
                        <input class="cursor-pointer absolute block opacity-0 pin-r pin-t" type="file" multiple
                               @change="setGallery($event)">
                        <button
                            class="p-2 text-white font-bold  w-full inline-flex items-center cursor-pointer rounded-lg text-center text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 shadow-sm shadow-cyan-500">
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2"></path>
                            </svg>
                            <span class="ml-2">Gallery</span>
                        </button>
                    </div>

                    <button
                        @click="send()"
                        type="button"
                        class="text-center text-white bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-bold p-2 text-center mr-2 mb-2">
                        <svg class="w-6 h-6 inline" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
                        </svg>
                        Send
                    </button>
                </div>


            </div>
        </div>
        <!--        form end-->
    </div>
    <div class="col-span-3 sm:col-span-1 w-full bg-white -order-1 sm:order-10 px-3">
        <login v-if="!token"></login>
        <register v-if="!token"></register>
        <profile v-if="token"></profile>
    </div>

</template>

<script>
import register from "./register";
import login from "./login";
import profile from "./profile";
import {mapState} from 'vuex'

export default {
    components: {register, login, profile},
    data() {
        return {
            form: {
                'title': '',
                'description': '',
                'image': null,
                'gallery': [],
            },
            cloneForm: {...this.form}
        }
    },
    methods: {
        send() {

            this.$store.dispatch("postStore", this.form).then((resp) => {
                this.form = this.cloneForm;
            }).catch(err => {
            });


            // var formData = new FormData();
            // _.forEach(this.form, function (value, index) {
            //     if (_.isArray(value)) {
            //         value.forEach(function (item) {
            //             formData.append(index + "[]", item);
            //         });
            //     } else {
            //         formData.append(index, value);
            //     }
            // })
            //
            // axios.post('/api/post', formData, {
            //     headers: {
            //         'Content-Type': 'multipart/form-data',
            //         "Authorization": "Bearer 35|LylldUnBFF1megnlDiAZo8Ndkq4qXougwgrUxpSC"
            //     }
            // }).then(function () {
            //
            // }).catch(function () {
            //
            // });
        },

        setImage(e) {
            this.form.image = e.target.files[0]
        },
        setGallery(e) {
            for (const file of e.target.files) {
                this.form.gallery.push(file);
            }
        },
        isMyPost(post) {
            return this.$store.state.user.id === post.user.id
        }
    },
    computed: {
        ...mapState(['token'])
    },
    created() {
        window.Echo.channel('test')
            .listen('.zzz', (e) => {
                if (e.type === 'addPost') {
                    this.$store.commit('addPost', e.post);
                    this.$refs.content.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"});
                }
            });

        // window.Echo.join('test')
        //     .here((users) => {
        //         console.log(    users)
        //     })
        //     .joining((user) => {
        //         console.log(user.name);
        //     })
        //     .leaving((user) => {
        //         console.log(user.name);
        //     })
        //     .error((error) => {
        //         console.error(error);
        //     }).listen('.zzz', (e) => {
        //     console.log(e)
        // });


        // Echo.private('test')
        //     .listen('TestEvent', e => {
        //         console.log(e)
        //     })



        this.$store.dispatch("postIndex").then((resp) => {
        }).catch(err => {
        });


    },
}
</script>

<style scoped>

</style>
