<template>
    <div class="mt-3  ">

       your name:
        {{user.name}}
    </div>
    <div class="flex flex-row w-full">

        <button type="button"
                class="mx-auto my-2 text-white bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center "
                @click="logout">logout
        </button>
    </div>
</template>

<script>
import {mapState} from 'vuex'

export default {
    name: "profile",
    data() {
        return {
            form: {

            },
        }
    },
    methods: {
        logout() {
            this.$store.dispatch("logout").then((resp) => {
            }).catch(err => {
            });
        },
    },
    computed: {
        ...mapState(['user'])
    },
}
</script>

<style scoped>

</style>
